doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= object.title
    link(rel="stylesheet", href="../styles.css")
  body
    if object.additionalImages && object.additionalImages.length > 0
      h2 Imágenes Adicionales:
      div#additional-images.grid
        each image in object.additionalImages
          .card
            img.img-small(src=image || "/image/sinImagen.jpg", alt=object.title)
    else
      p No hay imágenes adicionales para mostrar.
      
    a(href="/") Volver a la página principal